*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    display: flex;
}
.boxTools{
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #676e81;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
}
.active{
    background-color: #2c2b44;
    border-radius: 10px;
}
#myCanvas{
    width: 100%;
    height: 100vh;
}
.toolName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
#sizePicker{
    accent-color: #2c2b44;
}
.toolIcon{
    width: 35px;
    height: 35px;
    padding: 5px;
}
#colorPicker{
    border-radius: 10px;
    border: 2px solid white;
}
.tool{
    cursor: pointer;
}
